/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";

.row.episode-card {
	margin-top: 45px;
}
.episode {
	background-color: white;
	padding: 0 15px 15px 15px;
	margin-bottom: 15px;
	border: #393e43 3px solid;
	border-radius: 8px;
}
.date-tag {
	margin-top: -15;
	font-style: italic;
} 

.player iframe {
  	height: 95px;
  	width: 100%; 
  	padding-top: 5px;
  	border: none;
}

.description {
	margin: 15px 0 15px 0;
	min-height: 100px;
	color: #393e43;
	padding: 15px 0 15px 0;
	border-top: 1px solid grey;
	border-bottom: 1px dashed grey;
}

a.admin-links {
 	color:#393e43;
}

